.Robot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 30px;
    box-sizing: border-box;
}

.Robot-settingsPanelRangeSlider {
    margin-bottom: 50px;
}

.Robot-mainPanelButtons {
    padding: 30px;
}

.Robot-mainPanelCurrentPosition {
    margin-bottom: 20px;
}
